
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("https://static.prod.pokemon.com/images/pikachu_pattern.png");
    background-repeat: repeat;
    font-family: 'Patrick Hand', Arial, sans-serif; /* Font simile */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo img {
    width: 150px;
}


nav {
    display: flex;
    justify-content: flex-end; /* Sposta gli altri bottoni a destra */
    align-items: center;
    flex: 1; /* Occupare tutto lo spazio rimanente */
}

.logo {
    display: flex;
    align-items: center;
}

#home-btn {
    font-family: 'Patrick Hand', Arial, sans-serif;
    margin-left: 40px; /* Spazio tra il logo e il bottone Home */
    background-color: #333;
    color: white;
    border: none;
    padding: 15px 40px; /* Rendi il bottone più grande */
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px; /* Aumenta la dimensione del testo */
}

#home-btn:hover {
    background-color: #919191; /* Cambia il colore in base alle preferenze */
    transition: background-color 0.3s ease;
}

.nav-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.flag-icons {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.flag-icons img {
    width: 30px;
    height: auto;
}

#my-cards-btn {
    font-family: 'Patrick Hand', Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 6px;
    border: none;
    padding: 15px 40px; /* Rendi i bottoni più grandi */
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px; /* Aumenta la dimensione del testo */
}

#my-cards-btn:hover {
    background-color: #919191; /* Cambia il colore in base alle preferenze */
    transition: background-color 0.3s ease;
}

#my-decks-btn {
    font-family: 'Patrick Hand', Arial, sans-serif;
    margin-left: 20px;
    background-color: #333;
    color: white;
    margin: 13px;
    border: none;
    padding: 15px 40px; /* Rendi i bottoni più grandi */
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px; /* Aumenta la dimensione del testo */
}

#my-decks-btn:hover {
    background-color: #919191; /* Cambia il colore in base alle preferenze */
    transition: background-color 0.3s ease;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}

























main {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.deck-create-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.deck-details {
    display: flex;
    justify-content: space-between;
}

.card-image img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.deck-info {
    max-width: 600px;
    padding-left: 20px;
}

.deck-info h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card-number {
    color: red;
    font-weight: bold;
}

.deck-info h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.deck-info p {
    margin-bottom: 10px;
    line-height: 1.5;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.create-btn {
    background-color: lawngreen;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid black;
}

.create-btn:hover {
    background-color: green;
}


#descriptiondeck{
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: 200px;
}